@page
@model ILCDirectory.Pages.Addresses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Address</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Address.IsActive" /> @Html.DisplayNameFor(model => model.Address.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Address.IncludeInDirectory" /> @Html.DisplayNameFor(model => model.Address.IncludeInDirectory)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressLine1" class="control-label"></label>
                <input asp-for="Address.AddressLine1" class="form-control" />
                <span asp-validation-for="Address.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressLine2" class="control-label"></label>
                <input asp-for="Address.AddressLine2" class="form-control" />
                <span asp-validation-for="Address.AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressLine3" class="control-label"></label>
                <input asp-for="Address.AddressLine3" class="form-control" />
                <span asp-validation-for="Address.AddressLine3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressLine4" class="control-label"></label>
                <input asp-for="Address.AddressLine4" class="form-control" />
                <span asp-validation-for="Address.AddressLine4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.State" class="control-label"></label>
                <input asp-for="Address.State" class="form-control" />
                <span asp-validation-for="Address.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.ZipCode" class="control-label"></label>
                <input asp-for="Address.ZipCode" class="form-control" />
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.HomePhone" class="control-label"></label>
                <input asp-for="Address.HomePhone" class="form-control" />
                <span asp-validation-for="Address.HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.CellPhone" class="control-label"></label>
                <input asp-for="Address.CellPhone" class="form-control" />
                <span asp-validation-for="Address.CellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.DepartComment" class="control-label"></label>
                <input asp-for="Address.DepartComment" class="form-control" />
                <span asp-validation-for="Address.DepartComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.DateEntered" class="control-label"></label>
                <input asp-for="Address.DateEntered" class="form-control" />
                <span asp-validation-for="Address.DateEntered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AuditTrail" class="control-label"></label>
                <input asp-for="Address.AuditTrail" class="form-control" />
                <span asp-validation-for="Address.AuditTrail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.DirectoryAddress" class="control-label"></label>
                <input asp-for="Address.DirectoryAddress" class="form-control" />
                <span asp-validation-for="Address.DirectoryAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.DirectoryBuilding" class="control-label"></label>
                <input asp-for="Address.DirectoryBuilding" class="form-control" />
                <span asp-validation-for="Address.DirectoryBuilding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.DirectoryCity" class="control-label"></label>
                <input asp-for="Address.DirectoryCity" class="form-control" />
                <span asp-validation-for="Address.DirectoryCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.DirectoryHomePhone" class="control-label"></label>
                <input asp-for="Address.DirectoryHomePhone" class="form-control" />
                <span asp-validation-for="Address.DirectoryHomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.DirectoryInclude" class="control-label"></label>
                <input asp-for="Address.DirectoryInclude" class="form-control" />
                <span asp-validation-for="Address.DirectoryInclude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.DirectoryName" class="control-label"></label>
                <input asp-for="Address.DirectoryName" class="form-control" />
                <span asp-validation-for="Address.DirectoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.DirectoryOfficePhone" class="control-label"></label>
                <input asp-for="Address.DirectoryOfficePhone" class="form-control" />
                <span asp-validation-for="Address.DirectoryOfficePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.DirectoryRoom" class="control-label"></label>
                <input asp-for="Address.DirectoryRoom" class="form-control" />
                <span asp-validation-for="Address.DirectoryRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.DirectoryWorkgroup" class="control-label"></label>
                <input asp-for="Address.DirectoryWorkgroup" class="form-control" />
                <span asp-validation-for="Address.DirectoryWorkgroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.DirectoryZip" class="control-label"></label>
                <input asp-for="Address.DirectoryZip" class="form-control" />
                <span asp-validation-for="Address.DirectoryZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.BoxNumber" class="control-label"></label>
                <input asp-for="Address.BoxNumber" class="form-control" />
                <span asp-validation-for="Address.BoxNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.RoomNumber" class="control-label"></label>
                <input asp-for="Address.RoomNumber" class="form-control" />
                <span asp-validation-for="Address.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.DeliveryCode" class="control-label"></label>
                <input asp-for="Address.DeliveryCode" class="form-control" />
                <span asp-validation-for="Address.DeliveryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.MailListFlag" class="control-label"></label>
                <input asp-for="Address.MailListFlag" class="form-control" />
                <span asp-validation-for="Address.MailListFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.MailOnly" class="control-label"></label>
                <input asp-for="Address.MailOnly" class="form-control" />
                <span asp-validation-for="Address.MailOnly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.MailSortName" class="control-label"></label>
                <input asp-for="Address.MailSortName" class="form-control" />
                <span asp-validation-for="Address.MailSortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.SpecialContactInfo" class="control-label"></label>
                <input asp-for="Address.SpecialContactInfo" class="form-control" />
                <span asp-validation-for="Address.SpecialContactInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.SpecialForwardingInstructions" class="control-label"></label>
                <input asp-for="Address.SpecialForwardingInstructions" class="form-control" />
                <span asp-validation-for="Address.SpecialForwardingInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.SpecialHandlingInstructions" class="control-label"></label>
                <input asp-for="Address.SpecialHandlingInstructions" class="form-control" />
                <span asp-validation-for="Address.SpecialHandlingInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.BuildingCode" class="control-label"></label>
                <input asp-for="Address.BuildingCode" class="form-control" />
                <span asp-validation-for="Address.BuildingCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.CubicleNumber" class="control-label"></label>
                <input asp-for="Address.CubicleNumber" class="form-control" />
                <span asp-validation-for="Address.CubicleNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.DirectPhone" class="control-label"></label>
                <input asp-for="Address.DirectPhone" class="form-control" />
                <span asp-validation-for="Address.DirectPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.OfficeFax" class="control-label"></label>
                <input asp-for="Address.OfficeFax" class="form-control" />
                <span asp-validation-for="Address.OfficeFax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.OfficePhone" class="control-label"></label>
                <input asp-for="Address.OfficePhone" class="form-control" />
                <span asp-validation-for="Address.OfficePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
