@page
@model ILCDirectory.Pages.Addresses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Address</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Address.AddressId" />
@*            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Address.IsActive" /> @Html.DisplayNameFor(model => model.Address.IsActive)
                </label>
            </div>
*@            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Address.IncludeInDirectory" /> @Html.DisplayNameFor(model => model.Address.IncludeInDirectory)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressLine1" class="control-label"></label>
                <input asp-for="Address.AddressLine1" class="form-control" />
                <span asp-validation-for="Address.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressLine2" class="control-label"></label>
                <input asp-for="Address.AddressLine2" class="form-control" />
                <span asp-validation-for="Address.AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.StateProvince" class="control-label"></label>
                <input asp-for="Address.StateProvince" class="form-control" />
                <span asp-validation-for="Address.StateProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.PostalCode" class="control-label"></label>
                <input asp-for="Address.PostalCode" class="form-control" />
                <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
            </div>
@*            <div class="form-group">                                                                      TODO: move these to their new destination
                <label asp-for="Address.BoxNumber" class="control-label"></label>
                <input asp-for="Address.BoxNumber" class="form-control" />
                <span asp-validation-for="Address.BoxNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.RoomNumber" class="control-label"></label>
                <input asp-for="Address.RoomNumber" class="form-control" />
                <span asp-validation-for="Address.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.DeliveryCode" class="control-label"></label>
                <input asp-for="Address.DeliveryCode" class="form-control" />
                <span asp-validation-for="Address.DeliveryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.MailListFlag" class="control-label"></label>
                <input asp-for="Address.MailListFlag" class="form-control" />
                <span asp-validation-for="Address.MailListFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.MailOnly" class="control-label"></label>
                <input asp-for="Address.MailOnly" class="form-control" />
                <span asp-validation-for="Address.MailOnly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.MailSortName" class="control-label"></label>
                <input asp-for="Address.MailSortName" class="form-control" />
                <span asp-validation-for="Address.MailSortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.SpecialContactInfo" class="control-label"></label>
                <input asp-for="Address.SpecialContactInfo" class="form-control" />
                <span asp-validation-for="Address.SpecialContactInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.SpecialForwardingInstructions" class="control-label"></label>
                <input asp-for="Address.SpecialForwardingInstructions" class="form-control" />
                <span asp-validation-for="Address.SpecialForwardingInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.SpecialHandlingInstructions" class="control-label"></label>
                <input asp-for="Address.SpecialHandlingInstructions" class="form-control" />
                <span asp-validation-for="Address.SpecialHandlingInstructions" class="text-danger"></span>
            </div>
*@            <div class="form-group">
                <label asp-for="Address.BuildingCode" class="control-label"></label>
                <input asp-for="Address.BuildingCode" class="form-control" />
                <span asp-validation-for="Address.BuildingCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.CubicleNumber" class="control-label"></label>
                <input asp-for="Address.CubicleNumber" class="form-control" />
                <span asp-validation-for="Address.CubicleNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
